.shape_link{
  color: white;
  text-decoration: none;
}
.maincircle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 60px;
  margin: 0.5rem;
}
.blink_me {
  animation: blinker 1s linear infinite;
}

.circle{
    background-color: #0d6efd; 
}

.square {
    background-color: #198754;  
}
.rectangle {
  background-color: #b02a37;
}

.trapezoid {
  background-color: #ffc107;
}
.parallelogram {
  background-color: #17a2b8;
}
@keyframes blinker {  
  50% { opacity: 0; }
}

  .blink{
    width:100%;
    height: auto;
      background-color: magenta;
    padding: 15px;  
    text-align: center;
    line-height: 100px;
    margin-top: 2rem;
  }
  .span1{
    font-size: 70px;
    font-family: cursive;
    color: white;
    animation: blink 1s linear infinite;
  }
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

.shapebtn{
        cursor: pointer;
        border: 0px solid #000;
        background-color: transparent;
        color: #fff;
        /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);*/
}
.myborder{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, #0dcaf0 100%);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);
    padding: 1rem;
}
.myborder:hover{
  background: linear-gradient(180deg, #fff 1%, #FFC0CB 100%);
}