
.popup-button {
  display: block;
  text-align: center;
  text-decoration: none;
/*  font-weight: 800;
  font-size: 1em;*/
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 300% 300%;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.5), 0 1px 3px rgba(0, 0, 0, 0.5);

  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}

 .popup-button:hover {
  background-position: right center;
}

#btn-2 {
    background-image: repeating-linear-gradient(-45deg, 
      #7BDFF2 10px 30px,
      #B2F7EF 30px 50px,
      #EFF7F6 50px 70px,
      #F7D6E0 70px 90px,
      #F2B5D4 90px 110px
  );
  color: black;
}

#btn-2:hover {
  background-position: 20% center;
}
#btn-3{

}
